.img-fluid {
    width: 120px;
    height: 120px;
}   
.text {
    background-image: url("/Users/shino/Documents/projetweb/site-test/images/wale.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100vmax;
    height:100vmax;
    margin: 0px;
    padding:0px;
    color: aqua;
    font-style: oblique;
    font-weight: bold;
 
}

header {
    background-color: royalblue;
}

footer {
    background-color: coral;
    text-align: center;
}

p {
    display:inline;
}
