html, body {
	height: 100%;
	margin: 0px; 
    padding: 0px;
}

body {
    display : table;
    width: 100%;
}
header {
    background-color: royalblue;
}
header .img-fluid {
    width: 120px;
    height: 120px;
}   
p {
    display:inline;
}

section .img-fluid {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

footer {
    display : table-row;
    background-color: coral;
    text-align: center;
}

.return {
    color: black;
}

